<html>
<head>
	<title>Page is NOT found!</title>
<style>
	body{
	text-align: center;
	margin: auto;
	background-color: rgba(240,204,50,0.1);
	}
</style>

</head>
<body>
	<div class="error_page">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p><img class="error_img" src="static/img/error_img.png" style="width: 1000px; margin: auto; position:relative;"></p>
		<p style="font-weight: bold;"><a href="http://bigsofree.com">Return main page</a></p>
		<!-- <img class="error_main_img" src="static/img/error_main_img.png" style="margin: auto; position:relative; width: 700px; bottom: -50px;"> -->
	</div>



</body>
</html>