@font-face {
  font-family: 'JUA';
  src: url('../fonts/JUA.otf');
}
body { overflow-y:hidden; font-family: "JUA",sans-serif; line-height: none;}
#filler { position: absolute; top: 0; left: 0; }
#containers {  position: absolute; height: 44%; top:55%; background-color: rgb(220,220,221);}
.clear { clear: both; }
.sections { 
	display: block; 
	width: 330px; 
	height: 245px; 
	float: left; 
	border-radius: 6px;
	background-color: rgb(255,255,255);
	border-radius: 10px;
	text-align: center;
	margin: 10px;
	margin-left: 50px; 
	padding-bottom: 10px;
}
.sections p{
	margin-bottom: 4px;
}

/*상단부*/
#top_part{
text-align: center; border-radius: 15px; position: fixed; margin-top: 2%; height: 35%; background-color:rgb(180,181,181); z-index: 800px; margin-bottom: 2%;
}
/*왼쪽*/
#left_part{
border: none; border-radius:8px; height: 86%; margin-top: 2%; margin-bottom: 2%; margin-left: 1%; margin-right: 1%;
}
/*중앙*/
#center_part{
border: none; border-radius:8px; height: 86%; margin-top: 2%; margin-bottom: 2%; margin-left: 1%; margin-right: 1%;
}
/*오른쪽*/
#right_part{
border: none; border-radius:8px; background-color:rgb(255,255,255);	margin-top: 15px; padding-top: 3px; padding-bottom: 3px;margin-left: 2%; margin-right: 1%;
}

.left_side{
	border-radius: 8px;
	background-color: rgb(255,255,255);
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
}
.canvas-holder{
	width:55%; height:55%; margin:0 auto;
}

/*모달 내부 css*/
h4{
	line-height:25px;
}

#section_left_1{
	border:none;
	border-radius: 10px;
	background-color: rgb(255,255,255);
	padding: 10px;
	margin: 10px;
	margin-left: 25px;
}
#section_2 {
	border:none;
	border-radius: 10px;
	background-color: rgb(255,255,255);	
	padding: 10px;
	margin: 10px;
}
#section_3 {
	border:none;
	border-radius: 10px;
	background-color: rgb(255,255,255);
	padding: 10px;
	margin: 10px;
}

#section_4{
	border:none;
	border-radius: 10px;
	background-color: rgb(255,255,255);
	padding: 10px;
	margin: 10px;	
}

.modal-title{
	border:none;
	border-radius: 10px;
	background-color: rgb(255,255,255);
	padding: 10px;
	margin: 5px;
	width: auto;	
}

